#previewBox.format_default_gross {
width: 25mm;
height: 50mm;
}
.format_default_gross {
text-align: center;
white-space: nowrap;
overflow: hidden;
}
.format_default_gross {
align-items: initial;
}
#toPrint.format_default_gross.innerBox {
height: 50mm;
width: 25mm;
}
.format_default_gross > .innerBox > p {
margin: 0px 0px 0px 0px;
}
.format_default_gross > .innerBox > .line_1 {
font-family: "Arial";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_gross > .innerBox > .line_2 {
font-family: "Arial";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_default_gross > .innerBox > .line_3 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_default_gross > .innerBox > .line_4 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_default_gross > .innerBox > .line_5 {
font-family: "Arial";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
@media print {
#toPrint.format_default_gross > .innerBox {
margin: 0mm 0mm 0mm -0.8mm;
}
body {
margin: 0px;
}
#toPrint.format_default_gross > .innerBox > .line_1 {
margin-top: -3mm;
}
}