#previewBox.format_GFG_Soziologie {
width: 25mm;
height: 49mm;
}
.format_GFG_Soziologie {
text-align: initial;
white-space: nowrap;
overflow: hidden;
}
.format_GFG_Soziologie {
align-items: initial;
}
#toPrint.format_GFG_Soziologie > .capsule {
height: 49mm;
width: 25mm;
overflow: hidden;
}
.format_GFG_Soziologie > .capsule > .innerBox > p,
.format_GFG_Soziologie > .innerBox > p {
margin: 5px 0px 5px 0px;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_1,
.format_GFG_Soziologie > .innerBox > .line_1 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 5%;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_2,
.format_GFG_Soziologie > .innerBox > .line_2 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 5%;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_3,
.format_GFG_Soziologie > .innerBox > .line_3 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 5%;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_4,
.format_GFG_Soziologie > .innerBox > .line_4 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 5%;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_5,
.format_GFG_Soziologie > .innerBox > .line_5 {
text-align: center;
width: 22mm;
margin-top: 8mm;
border-top: 1px solid;
font-family: "Arial";
font-size: 12pt;
font-weight: normal;
font-style: normal;
margin-left: 5%;
}
.format_GFG_Soziologie > .capsule > .innerBox > .line_1,
.format_GFG_Soziologie > .innerBox > .line_1 {
margin-top: 5mm;
}
@media print {
@page {
size: 25.4mm 50.8mm;
margin-top: 0.9mm;
margin-left: 0.2mm;
}
body {
margin: 0px;
}
}