#previewBox.format_LBS {
width: 27mm;
height: 38mm;
}
.format_LBS {
text-align: center;
white-space: nowrap;
overflow: hidden;
}
.format_LBS {
align-items: initial;
}
#toPrint.format_LBS > .capsule {
height: 38mm;
width: 27mm;
overflow: hidden;
}
.format_LBS > .capsule > .innerBox > p,
.format_LBS > .innerBox > p {
margin: 5px 0px 5px 0px;
}
.format_LBS > .capsule > .innerBox > .line_1,
.format_LBS > .innerBox > .line_1 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_LBS > .capsule > .innerBox > .line_2,
.format_LBS > .innerBox > .line_2 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_LBS > .capsule > .innerBox > .line_3,
.format_LBS > .innerBox > .line_3 {
font-family: "Arial";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_LBS > .capsule > .innerBox > .line_4,
.format_LBS > .innerBox > .line_4 {
font-family: "Arial";
font-size: 10pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_LBS > .capsule > .innerBox > .line_1,
.format_LBS > .innerBox > .line_1 {
margin-top: 5mm;
}
@media print {
@page {
size: 27mm 38mm;
margin-top: 0mm;
margin-left: 0mm;
}
body {
margin: 0px;
}
}