#previewBox.format_Rara {
width: 24mm;
height: 49mm;
}
.format_Rara {
text-align: center;
white-space: nowrap;
overflow: hidden;
}
.format_Rara {
align-items: initial;
}
#toPrint.format_Rara > .capsule {
height: 49mm;
width: 24mm;
overflow: hidden;
}
.format_Rara > .capsule > .innerBox > p,
.format_Rara > .innerBox > p {
margin: 5px 0px 5px 0px;
}
.format_Rara > .capsule > .innerBox > .line_1,
.format_Rara > .innerBox > .line_1 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_Rara > .capsule > .innerBox > .line_2,
.format_Rara > .innerBox > .line_2 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_Rara > .capsule > .innerBox > .line_3,
.format_Rara > .innerBox > .line_3 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_Rara > .capsule > .innerBox > .line_4,
.format_Rara > .innerBox > .line_4 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 0%;
}
.format_Rara > .capsule > .innerBox > .line_5,
.format_Rara > .innerBox > .line_5 {
margin-top: 5mm;
background-color:black;
color:white;
font-family: "Arial";
font-size: 12pt;
font-weight: bold;
font-style: normal;
margin-left: 0%;
}
.format_Rara > .capsule > .innerBox > .line_1,
.format_Rara > .innerBox > .line_1 {
margin-top: 5mm;
}
@media print {
@page {
size: 25.4mm 50.8mm;
margin-top: 0.9mm;
margin-left: 0.7mm;
}
body {
margin: 0px;
}
}