#previewBox.format_TSK_Magazin_Zs {
width: 27mm;
height: 45mm;
}
.format_TSK_Magazin_Zs {
text-align: initial;
white-space: nowrap;
overflow: hidden;
}
.format_TSK_Magazin_Zs {
align-items: initial;
}
#toPrint.format_TSK_Magazin_Zs > .capsule {
height: 45mm;
width: 27mm;
overflow: hidden;
}
.format_TSK_Magazin_Zs > .capsule > .innerBox > p,
.format_TSK_Magazin_Zs > .innerBox > p {
margin: 5px 0px 5px 0px;
}
.format_TSK_Magazin_Zs > .capsule > .innerBox > .line_1,
.format_TSK_Magazin_Zs > .innerBox > .line_1 {
font-family: "Arial";
font-size: 16pt;
font-weight: bold;
font-style: normal;
margin-left: 10%;
}
.format_TSK_Magazin_Zs > .capsule > .innerBox > .line_2,
.format_TSK_Magazin_Zs > .innerBox > .line_2 {
font-family: "Arial";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 10%;
}
.format_TSK_Magazin_Zs > .capsule > .innerBox > .line_3,
.format_TSK_Magazin_Zs > .innerBox > .line_3 {
font-family: "Arial Narrow";
font-size: 16pt;
font-weight: normal;
font-style: normal;
margin-left: 10%;
}
.format_TSK_Magazin_Zs > .capsule > .innerBox > .line_1,
.format_TSK_Magazin_Zs > .innerBox > .line_1 {
margin-top: 10mm;
}
@media print {
@page {
size: 27mm 45mm;
margin-top: 0mm;
margin-left: 0mm;
}
body {
margin: 0px;
}
}